# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.h5
*.pkl
*.model
*.joblib
*.sav

.idea/
.vscode/
*.swp
.DS_Store

logs/
*.log
tmp/
temp/

.env
.venv